<h1 *ngIf="user | async; let user; else registrationForm">Welcome {{ user?.email }}!</h1>

<ng-template #registrationForm>
  <form [formGroup]="authForm">
    <div class="form-group">

      <input type="text" class="form-control" formControlName="email" placeholder="email">
      <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
      </div>

      <input type="password" class="form-control" formControlName="password" placeholder="password">
      <div *ngIf="formErrors.password" class="alert alert-danger">
          {{ formErrors.password }}
      </div>

      <button (click)="login()" class="btn btn-primary" [disabled]="!authForm.valid">
        Login
      </button>
      
      <button (click)="signup()" class="btn btn-primary" [disabled]="!authForm.valid">
        Signup
      </button>

    </div>
  </form>
</ng-template>